In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [2]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [3]:
target = df['Survived']
inputs = df.drop('Survived', axis=1)

In [4]:
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [5]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [7]:
dummies = pd.get_dummies(inputs.Sex, dtype=int)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [8]:
inputs = pd.concat([inputs, dummies], axis=1)
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [9]:
inputs.drop('Sex', axis=1, inplace=True)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [11]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [12]:
inputs.Age.head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [ ]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [14]:
inputs.Age.head(10)

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [17]:
X_train

     Pclass        Age     Fare  female  male
74        3  32.000000  56.4958       0     1
565       3  24.000000  24.1500       0     1
484       1  25.000000  91.0792       0     1
219       2  30.000000  10.5000       0     1
167       3  45.000000  27.9000       1     0
..      ...        ...      ...     ...   ...
468       3  29.699118   7.7250       0     1
98        2  34.000000  23.0000       1     0
792       3  29.699118  69.5500       1     0
348       3   3.000000  15.9000       0     1
817       2  31.000000  37.0042       0     1

[712 rows x 5 columns]

In [18]:
X_test

     Pclass        Age     Fare  female  male
777       3   5.000000  12.4750       1     0
126       3  29.699118   7.7500       0     1
457       1  29.699118  51.8625       1     0
532       3  17.000000   7.2292       0     1
863       3  29.699118  69.5500       1     0
..      ...        ...      ...     ...   ...
186       3  29.699118  15.5000       1     0
683       3  14.000000  46.9000       0     1
122       2  32.500000  30.0708       0     1
476       2  34.000000  21.0000       0     1
541       3   9.000000  31.2750       1     0

[179 rows x 5 columns]

In [19]:
len(X_train)

712

In [20]:
len(X_test)

179

In [21]:
len(inputs)

891

In [23]:
from sklearn.naive_bayes import GaussianNB

In [24]:
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

In [25]:
model.score(X_test, y_test)

0.7932960893854749

In [34]:
model.predict(X_test[:10])

array([1, 0, 1, 0, 1, 0, 1, 1, 0, 0])

In [38]:
y_test[:10]

777    1
126    0
457    1
532    0
863    0
861    0
199    0
14     0
138    0
152    0
Name: Survived, dtype: int64

In [31]:
model.predict_proba(X_test[:10])

array([[0.03797286, 0.96202714],
       [0.99131412, 0.00868588],
       [0.00390756, 0.99609244],
       [0.98903973, 0.01096027],
       [0.02008998, 0.97991002],
       [0.97582653, 0.02417347],
       [0.02712705, 0.97287295],
       [0.05125865, 0.94874135],
       [0.98884853, 0.01115147],
       [0.9895805 , 0.0104195 ]])